body {
  background-color: #c8d5b9;
}
p {
  color: #357266;
  font-size: 200%;
  letter-spacing: 6px;
  font-family: "Lucida Console", "Courier New";
}
img {
  height: 10%;
  width: 10%;
}
ul {
  list-style-type: none;
  test-align: center;
  position: fixed;
  width: 100%;
}
li {
  float: left;
}
li a {
  padding: 15px;
  font-family: "Lucida Console", "Courier New";
  border-style: solid;
  color: #357266;
  text-decoration-line: none;
}
li a:hover {
  background-color: #515b3a;
  color: #e6ebe0;
   border-color:#357266;
}
